<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <!--
        id="save"是唯一的标示符
        parameterType属性指明插入时使用的参数类型
        useGeneratedKeys="true"表示使用数据库的自动增长策略
     -->
    <select id="getSetMealDishByDishId" resultType="java.lang.Long">
        select setmeal_id from setmeal_dish where dish_id in
        <foreach item="dishId" collection="ids" separator="," open="(" close=")">
            #{dishId}
        </foreach>
    </select>
    <insert id="insertBatch" parameterType="setmealDish">
        insert into setmeal_dish (setmeal_id, dish_id, name,
                                  price, copies)
        values
        <foreach item="setmealDish" collection="list" separator=",">
            (#{setmealDish.setmealId}, #{setmealDish.dishId}, #{setmealDish.name},
             #{setmealDish.price}, #{setmealDish.copies}
            )
        </foreach>
    </insert>
    <delete id="deleteBySetmealIds">
        delete from setmeal_dish where setmeal_id in
        <foreach item="id" collection="ids" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getBySetmealId" resultType="com.sky.entity.SetmealDish">
        select * from setmeal_dish where setmeal_id = #{id}
    </select>
    <update id="update">
        update setmeal_dish
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="dishId != null">dish_id = #{dishId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="copies != null">copies = #{copies},</if>
        </set>
        where id = #{id}
    </update>
</mapper>
